#
# Edit this script to configure cmake's output
#

# where to install built modules? 
set(CMAKE_INSTALL_PREFIX ${CMAKE_SOURCE_DIR}/dist)

#use non standard compiler
#set(CMAKE_CXX_COMPILER g++-4.4)

# which modules to build?
set(DS_BUILD_CORE     1)
set(DS_BUILD_UTILS    1)
set(DS_BUILD_JAVA     1)
set(DS_BUILD_MATLAB   0)

# shall we build examples?
set(DS_BUILD_EXAMPLES 1)

# shall we generate docs
set(DS_BUILD_DOCS     1)



