#
# Edit this script to configure cmake's output
#

# where to install built modules? 
set(CMAKE_INSTALL_PREFIX $ENV{HOME})

# edit *_ROOT variables when it need
set(MATLAB_ROOT /opt/matlab/R2012a)
set(JAVA_ROOT   /usr/lib/jvm/java-7-oracle)

# use non standard compiler
#set(CMAKE_CXX_COMPILER g++-4.4)

# which modules to build?
set(DS_BUILD_CORE     1)
set(DS_BUILD_UTILS    1)
set(DS_BUILD_JAVA     1)
set(DS_BUILD_MATLAB   1)

# shall we build examples?
set(DS_BUILD_EXAMPLES 1)

# shall we generate docs
set(DS_BUILD_DOCS     0)



